.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  }

  .header > div {
    height: 3rem;
    width: auto;
  }

  .header > div > img {
    height: 100%;
    width: auto;
  }

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 15px;
}

.navLink {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.navBtn {
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.navBtn:hover {
  border-bottom: 1px solid #fff;
}

.navLink:hover {
  border-bottom: 1px solid #fff;
}
